
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

a{
    color: grey;
    text-decoration: none;
}


/* :root */

:root{
    --bottom-bar-color:#282828;
    --top-bar-color:#080B12;
    --background-color:#141922;
}

/* top-bar */

.top-bar{
    width: 100%; 
    height: 100px;
    position: fixed;
    text-align: right;
    z-index: 1;
    background-color: var(--top-bar-color);
    top: 0;
    padding: 30px 30px 30px 0;
}

.upgrade{
    border: 1px solid white;
    color: white;
    border-radius: 40px;
    padding: 10px 30px;
    background-color: var(--top-bar-color);
}


/* barra laterale */

.left-bar{
    background-color: black;
    width: 200px;
    padding-bottom: 100px;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

/* main */

main{
    background-color: var(--background-color);
    padding-left:215px;
    padding-bottom: 100px;
    padding-top: 100px;
    min-width: 500px;
    max-width: 100%;
}


.top-line{
    display: flex;
    justify-content: center;
}

.top-line>a{
    padding: 1em 1em;
    font-weight: bold;
}

.recently{
    height: 60px;
    padding: 10px 0px 10px 20px;
}

.recently>h2{
    color: white;
}

.songs-container{
    display: flex;
    flex-wrap: wrap;
}

.song{
    width: calc((100% / 6) - 240px);
    height: 250px;
    text-align: center;
    color: white;
    margin:10px 20px 0 ;
    min-width: 200px;
    margin-bottom: 80px;

}

.song>h5, .recently>h5{
    color: grey;
    font-size: smaller;
    padding-top: 10px;
}

.song>h3{
    font-size: 16px;
}

.song>img{
    max-height:220px;
    min-height: 150px;
    padding-bottom: 20px;
}

.more-space{
    margin-bottom: 30px;
}

.radius>img{
    border-radius: 50%;

}
/* barra inferiore */

.bottom-bar{
    background-color: var(--bottom-bar-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    height: 100px;
    display: flex;
    align-items: center;
}



.now-play{
    display: flex;
    width: 25%;
    padding-left: 20px;
}

.song-name
{
    padding-left: 20px;
    color: white;
}

.song-name>h5{
    color: grey;
    font-size: smaller;
}

.action-now-play{
    display: flex;
    align-items: center;
    color: grey;
    font-size: smaller;
    padding-left: 30px;
    font-size: 20px;
    justify-content: space-around;
}

.action-now-play>i{
    padding: 0 10px;
}

.now-play>img{
    width: 50px;
    height: 50;
}

.interactive-bar{
    width: 50%;
    text-align: center;
}

.option{
    display: flex;
    align-items: center;
    width: 25%;
    color: white;
    padding-right: 20px;
    height: 100%;
}

.option>i{
    padding-left: 20px;
    font-size: 20px;
}

.audio-bar{
    height: 8px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(65, 65, 65);
    margin-left: 20px;
}

.white-zone{
    height: 8px;
    width: 20%;
    background-color: grey;
    border-radius:20px 0 0 20px ;
}




