
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

}


/* :root */

:root{
    --bottom-bar-color:#282828;
    --top-bar-color:#080B12;
    --background-color:#141922;
}